In [1]:
from io import TextIOWrapper
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, Unicode, UnicodeText, String, Boolean
from typing import List
import csv

from io import TextIOWrapper
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, Unicode, UnicodeText, String, Boolean, create_engine
from typing import List
import csv

Base = declarative_base()

In [2]:
class DraftAsset(Base):
    __tablename__ = 'draft_asset'
    __table_args__ = {"schema": "team"}
    id = Column('id', Integer, nullable=False, primary_key=True)
    owner_team_id = Column('owner_team_id', Integer, nullable=False)
    original_team_id = Column('original_team_id', Integer, nullable=False) 
    league_season = Column('league_season', Integer, nullable=False) 
    pick_round = Column('pick_round', Integer, nullable=False)
    pick_player_id = Column('pick_player_id', Integer, nullable=False)
    pick_position = Column('pick_position', Integer, nullable=False)
    compensatory = Column('compensatory', Boolean, nullable=False)
    used = Column('used', Boolean, nullable=False)

class Person(Base):
    __tablename__ = 'person'
    __table_args__ = {"schema": "league"}
    id = Column('id', Integer, nullable=False, primary_key=True)
    first_name = Column('first_name', String, nullable=False)
    last_name = Column('last_name', String, nullable=False)
    date_of_birth = Column('date_of_birth', Date, nullable=True)
    alma_mater = Column('alma_mater', String, nullable=True)

class Player(Base):
    __tablename__ = 'player'
    __table_args__ = {"schema": "player"}
    id = Column('id', Integer, nullable=False, primary_key=True)
    person_id = Column('person_id', Integer, nullable = False)
    active = Column('active', Boolean, nullable = False)
    
class DraftPick():
    def __init__(self, round:int, pick:int, team:str, name: str, position_abbrev:str, age:int, alma_mater:str):
        self.round = round
        self.pick_number = pick
        self.team = team
        self.player_name = name
        self.position_abbrev = position_abbrev
        self.age = age
        self.alma_mater = alma_mater
        try:
            self.player_first_name, self.player_last_name = ' '.split(self.player_name)
        except ValueError:
            self.player_first_name = self.player_name
            self.player_last_name = 'N/A'
            
    def fix_pfr_name(self):
        self.player_name = self.player_name.split('\\')[0]
        try:
            self.player_first_name, self.player_last_name = self.player_name.split(' ')
        except ValueError:
            self.player_first_name = self.player_name
            self.player_last_name = 'N/A'


class Team(Base):
    __tablename__ = 'nfl_team'
    __table_args__ = {"schema": "team"}
    id = Column('id', Integer, nullable=False, primary_key=True)
    team_name = Column('team_name', String, nullable=False)
    team_abbreviation = Column('team_abbreviation', String, nullable=False)
    team_region = Column('team_region', String, nullable=False)
    team_hq_state_id = Column('team_hq_state_id', Integer, nullable=False)
    team_division_id = Column('team_division_id', Integer, nullable=False)

In [3]:
engine = create_engine('mssql+pyodbc://sa:Password1@localhost/nfl?driver=SQL+Server', echo=True)
session = Session(engine)
team_list = session.query(Team).all()

team_code_dict = {}
for team in team_list:
    team_code_dict[team.team_abbreviation] = team.id
    
print(team_code_dict.keys())

2021-10-25 08:58:34,451 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2021-10-25 08:58:34,453 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-10-25 08:58:34,460 INFO sqlalchemy.engine.Engine SELECT schema_name()
2021-10-25 08:58:34,461 INFO sqlalchemy.engine.Engine [generated in 0.00075s] ()
2021-10-25 08:58:34,466 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2021-10-25 08:58:34,466 INFO sqlalchemy.engine.Engine [generated in 0.00079s] ()
2021-10-25 08:58:34,474 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-25 08:58:34,477 INFO sqlalchemy.engine.Engine SELECT team.nfl_team.id AS team_nfl_team_id, team.nfl_team.team_name AS team_nfl_team_team_name, team.nfl_team.team_abbreviation AS team_nfl_team_team_abbreviation, team.nfl_team.team_region AS team_nfl_team_team_region, team.nfl_team.team_hq_state_id AS team_nfl_team_team_hq_state_id, team.nfl_team.team_division_id AS team_nfl_team_team_division_id
FROM team.nfl_team
2021-10-25 08:58:34,477 INFO sqlalchemy.engine.Engine [generated in 0.00053s] ()
dict_keys(['PIT', 'CLE', 'CIN', 'BAL', 'HOU', 'IND', 'JAX', 'TEN', 'BUF', 'MIA', 'NWE', 'NYJ', 'DEN', 'KAN', 'LVR', 'LAC', 'CHI', 'DET', 'GNB', 'MIN', 'ATL', 'CAR', 'NOR', 'TAM', 'DAL', 'NYG', 'PHI', 'WAS', 'ARI', 'LAR', 'SFO', 'SEA'])

In [4]:
def read_csv_to_obj(file_name:str, obj:object, header:bool = True) -> List[object]:
    with open(file_name, 'r') as file_stream:
        obj_list = []
        csvreader = csv.reader(file_stream)
        if header:
            head = next(csvreader)
        try:
            for line in csvreader:
                if not line:
                    break
                instance = obj(*line)
                obj_list.append(instance)
        except TypeError as e:
            print(e)
    return obj_list

file_url = r'C:\Users\Cameron\Documents\Projects\Github\sports_database_model\scratch\2020_draft_asset.csv'

pick_list = read_csv_to_obj(file_url, DraftPick)

In [5]:
def create_persons_from_picks(pick_list: List[DraftPick]) -> List[Person]:
    person_list = []
    for pick in pick_list:
        pick.fix_pfr_name()
        person_list.append(
            Person(
                first_name = pick.player_first_name,
                last_name = pick.player_last_name,
                alma_mater = pick.alma_mater,
                date_of_birth = '1/1/2000'
            )
        )
    return person_list
        
# person_list = create_persons_from_picks(pick_list)
# print(person_list)

person_list = create_persons_from_picks(pick_list)
session.add_all(person_list)
session.commit()

2021-10-25 08:58:34,518 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,519 INFO sqlalchemy.engine.Engine [generated in 0.00143s] ('Joe', 'Burrow', '1/1/2000', 'LSU')
2021-10-25 08:58:34,529 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,529 INFO sqlalchemy.engine.Engine [cached since 0.01132s ago] ('Chase', 'Young', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:34,535 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,535 INFO sqlalchemy.engine.Engine [cached since 0.01722s ago] ('Jeff', 'Okudah', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:34,540 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,541 INFO sqlalchemy.engine.Engine [cached since 0.02295s ago] ('Andrew', 'Thomas', '1/1/2000', 'Georgia')
2021-10-25 08:58:34,546 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,547 INFO sqlalchemy.engine.Engine [cached since 0.0285s ago] ('Tua', 'Tagovailoa', '1/1/2000', 'Alabama')
2021-10-25 08:58:34,552 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,553 INFO sqlalchemy.engine.Engine [cached since 0.03517s ago] ('Justin', 'Herbert', '1/1/2000', 'Oregon')
2021-10-25 08:58:34,558 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,559 INFO sqlalchemy.engine.Engine [cached since 0.04064s ago] ('Derrick', 'Brown', '1/1/2000', 'Auburn')
2021-10-25 08:58:34,563 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,564 INFO sqlalchemy.engine.Engine [cached since 0.04613s ago] ('Isaiah', 'Simmons', '1/1/2000', 'Clemson')
2021-10-25 08:58:34,570 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,571 INFO sqlalchemy.engine.Engine [cached since 0.05257s ago] ('C.J.', 'Henderson', '1/1/2000', 'Florida')
2021-10-25 08:58:34,575 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,576 INFO sqlalchemy.engine.Engine [cached since 0.05798s ago] ('Jedrick Wills Jr.', 'N/A', '1/1/2000', 'Alabama')
2021-10-25 08:58:34,580 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,581 INFO sqlalchemy.engine.Engine [cached since 0.06289s ago] ('Mekhi', 'Becton', '1/1/2000', 'Louisville')
2021-10-25 08:58:34,587 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,588 INFO sqlalchemy.engine.Engine [cached since 0.06975s ago] ('Henry Ruggs III', 'N/A', '1/1/2000', 'Alabama')
2021-10-25 08:58:34,595 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,595 INFO sqlalchemy.engine.Engine [cached since 0.07721s ago] ('Tristan', 'Wirfs', '1/1/2000', 'Iowa')
2021-10-25 08:58:34,601 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,602 INFO sqlalchemy.engine.Engine [cached since 0.08413s ago] ('Javon', 'Kinlaw', '1/1/2000', 'South Carolina')
2021-10-25 08:58:34,606 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,607 INFO sqlalchemy.engine.Engine [cached since 0.0891s ago] ('Jerry', 'Jeudy', '1/1/2000', 'Alabama')
2021-10-25 08:58:34,612 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,613 INFO sqlalchemy.engine.Engine [cached since 0.09509s ago] ('AJ', 'Terrell', '1/1/2000', 'Clemson')
2021-10-25 08:58:34,619 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,620 INFO sqlalchemy.engine.Engine [cached since 0.1019s ago] ('CeeDee', 'Lamb', '1/1/2000', 'Oklahoma')
2021-10-25 08:58:34,624 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,625 INFO sqlalchemy.engine.Engine [cached since 0.1069s ago] ('Austin', 'Jackson', '1/1/2000', 'USC')
2021-10-25 08:58:34,629 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,630 INFO sqlalchemy.engine.Engine [cached since 0.1115s ago] ('Damon', 'Arnette', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:34,634 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,636 INFO sqlalchemy.engine.Engine [cached since 0.1177s ago] ("K'Lavon", 'Chaisson', '1/1/2000', 'LSU')
2021-10-25 08:58:34,640 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,641 INFO sqlalchemy.engine.Engine [cached since 0.1229s ago] ('Jalen', 'Reagor', '1/1/2000', 'TCU')
2021-10-25 08:58:34,645 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,646 INFO sqlalchemy.engine.Engine [cached since 0.1281s ago] ('Justin', 'Jefferson', '1/1/2000', 'LSU')
2021-10-25 08:58:34,651 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,651 INFO sqlalchemy.engine.Engine [cached since 0.1333s ago] ('Kenneth', 'Murray', '1/1/2000', 'Oklahoma')
2021-10-25 08:58:34,658 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,659 INFO sqlalchemy.engine.Engine [cached since 0.1405s ago] ('Cesar', 'Ruiz', '1/1/2000', 'Michigan')
2021-10-25 08:58:34,664 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,665 INFO sqlalchemy.engine.Engine [cached since 0.1466s ago] ('Brandon', 'Aiyuk', '1/1/2000', 'Arizona St.')
2021-10-25 08:58:34,671 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,672 INFO sqlalchemy.engine.Engine [cached since 0.1536s ago] ('Jordan', 'Love', '1/1/2000', 'Utah St.')
2021-10-25 08:58:34,677 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,677 INFO sqlalchemy.engine.Engine [cached since 0.1594s ago] ('Jordyn', 'Brooks', '1/1/2000', 'Texas Tech')
2021-10-25 08:58:34,682 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,683 INFO sqlalchemy.engine.Engine [cached since 0.1648s ago] ('Patrick', 'Queen', '1/1/2000', 'LSU')

2021-10-25 08:58:34,689 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,690 INFO sqlalchemy.engine.Engine [cached since 0.1723s ago] ('Isaiah', 'Wilson', '1/1/2000', 'Georgia')
2021-10-25 08:58:34,695 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,695 INFO sqlalchemy.engine.Engine [cached since 0.1775s ago] ('Noah', 'Igbinoghene', '1/1/2000', 'Auburn')
2021-10-25 08:58:34,700 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,701 INFO sqlalchemy.engine.Engine [cached since 0.183s ago] ('Jeff', 'Gladney', '1/1/2000', 'TCU')
2021-10-25 08:58:34,708 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,708 INFO sqlalchemy.engine.Engine [cached since 0.1903s ago] ('Clyde', 'Edwards-Helaire', '1/1/2000', 'LSU')
2021-10-25 08:58:34,713 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,714 INFO sqlalchemy.engine.Engine [cached since 0.1956s ago] ('Tee', 'Higgins', '1/1/2000', 'Clemson')
2021-10-25 08:58:34,719 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,720 INFO sqlalchemy.engine.Engine [cached since 0.2017s ago] ('Michael Pittman Jr.', 'N/A', '1/1/2000', 'USC')
2021-10-25 08:58:34,726 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,727 INFO sqlalchemy.engine.Engine [cached since 0.2089s ago] ("D'Andre", 'Swift', '1/1/2000', 'Georgia')
2021-10-25 08:58:34,733 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,734 INFO sqlalchemy.engine.Engine [cached since 0.2157s ago] ('Xavier', 'McKinney', '1/1/2000', 'Alabama')
2021-10-25 08:58:34,738 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,740 INFO sqlalchemy.engine.Engine [cached since 0.2221s ago] ('Kyle', 'Dugger', '1/1/2000', 'Lenoir-Rhyne')
2021-10-25 08:58:34,745 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,746 INFO sqlalchemy.engine.Engine [cached since 0.2277s ago] ('Yetur', 'Gross-Matos', '1/1/2000', 'Penn St.')
2021-10-25 08:58:34,750 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,750 INFO sqlalchemy.engine.Engine [cached since 0.2326s ago] ('Robert', 'Hunt', '1/1/2000', 'Louisiana')
2021-10-25 08:58:34,755 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,757 INFO sqlalchemy.engine.Engine [cached since 0.2387s ago] ('Ross', 'Blacklock', '1/1/2000', 'TCU')
2021-10-25 08:58:34,763 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,764 INFO sqlalchemy.engine.Engine [cached since 0.2458s ago] ('Jonathan', 'Taylor', '1/1/2000', 'Wisconsin')
2021-10-25 08:58:34,768 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,769 INFO sqlalchemy.engine.Engine [cached since 0.251s ago] ('Laviska Shenault Jr.', 'N/A', '1/1/2000', 'Colorado')
2021-10-25 08:58:34,775 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,775 INFO sqlalchemy.engine.Engine [cached since 0.2574s ago] ('Cole', 'Kmet', '1/1/2000', 'Notre Dame')
2021-10-25 08:58:34,780 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,781 INFO sqlalchemy.engine.Engine [cached since 0.263s ago] ('Grant', 'Delpit', '1/1/2000', 'LSU')
2021-10-25 08:58:34,786 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,786 INFO sqlalchemy.engine.Engine [cached since 0.2684s ago] ('Antoine Winfield Jr.', 'N/A', '1/1/2000', 'Minnesota')
2021-10-25 08:58:34,793 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,794 INFO sqlalchemy.engine.Engine [cached since 0.2758s ago] ('KJ', 'Hamler', '1/1/2000', 'Penn St.')
2021-10-25 08:58:34,799 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,799 INFO sqlalchemy.engine.Engine [cached since 0.281s ago] ('Marlon', 'Davidson', '1/1/2000', 'Auburn')
2021-10-25 08:58:34,803 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,804 INFO sqlalchemy.engine.Engine [cached since 0.2858s ago] ('Darrell', 'Taylor', '1/1/2000', 'Tennessee')
2021-10-25 08:58:34,809 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,810 INFO sqlalchemy.engine.Engine [cached since 0.292s ago] ('Chase', 'Claypool', '1/1/2000', 'Notre Dame')
2021-10-25 08:58:34,816 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,816 INFO sqlalchemy.engine.Engine [cached since 0.2981s ago] ('Jaylon', 'Johnson', '1/1/2000', 'Utah')
2021-10-25 08:58:34,821 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,823 INFO sqlalchemy.engine.Engine [cached since 0.3045s ago] ('Trevon', 'Diggs', '1/1/2000', 'Alabama')
2021-10-25 08:58:34,827 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,829 INFO sqlalchemy.engine.Engine [cached since 0.3102s ago] ('Cam', 'Akers', '1/1/2000', 'Florida St.')
2021-10-25 08:58:34,833 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,834 INFO sqlalchemy.engine.Engine [cached since 0.3157s ago] ('Jalen', 'Hurts', '1/1/2000', 'Oklahoma')
2021-10-25 08:58:34,838 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,838 INFO sqlalchemy.engine.Engine [cached since 0.3204s ago] ('A.J.', 'Epenesa', '1/1/2000', 'Iowa')
2021-10-25 08:58:34,843 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,843 INFO sqlalchemy.engine.Engine [cached since 0.3255s ago] ('J.K.', 'Dobbins', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:34,847 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,848 INFO sqlalchemy.engine.Engine [cached since 0.3303s ago] ('Raekwon', 'Davis', '1/1/2000', 'Alabama')

2021-10-25 08:58:34,853 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,853 INFO sqlalchemy.engine.Engine [cached since 0.3354s ago] ('Van', 'Jefferson', '1/1/2000', 'Florida')
2021-10-25 08:58:34,858 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,859 INFO sqlalchemy.engine.Engine [cached since 0.3409s ago] ('Ezra', 'Cleveland', '1/1/2000', 'Boise St.')
2021-10-25 08:58:34,863 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,864 INFO sqlalchemy.engine.Engine [cached since 0.3456s ago] ('Denzel', 'Mims', '1/1/2000', 'Baylor')
2021-10-25 08:58:34,868 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,868 INFO sqlalchemy.engine.Engine [cached since 0.3504s ago] ('Josh', 'Uche', '1/1/2000', 'Michigan')
2021-10-25 08:58:34,874 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,874 INFO sqlalchemy.engine.Engine [cached since 0.356s ago] ('Kristian', 'Fulton', '1/1/2000', 'LSU')
2021-10-25 08:58:34,878 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,879 INFO sqlalchemy.engine.Engine [cached since 0.3612s ago] ('AJ', 'Dillon', '1/1/2000', 'Boston Col.')
2021-10-25 08:58:34,883 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,884 INFO sqlalchemy.engine.Engine [cached since 0.3659s ago] ('Willie Gay Jr.', 'N/A', '1/1/2000', 'Mississippi St.')
2021-10-25 08:58:34,887 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,888 INFO sqlalchemy.engine.Engine [cached since 0.3701s ago] ('Jeremy', 'Chinn', '1/1/2000', 'Southern Illinois')
2021-10-25 08:58:34,893 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,894 INFO sqlalchemy.engine.Engine [cached since 0.3758s ago] ('Logan', 'Wilson', '1/1/2000', 'Wyoming')
2021-10-25 08:58:34,898 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,899 INFO sqlalchemy.engine.Engine [cached since 0.3809s ago] ('Antonio', 'Gibson', '1/1/2000', 'Memphis')
2021-10-25 08:58:34,902 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,903 INFO sqlalchemy.engine.Engine [cached since 0.3849s ago] ('Julian', 'Okwara', '1/1/2000', 'Notre Dame')
2021-10-25 08:58:34,908 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,909 INFO sqlalchemy.engine.Engine [cached since 0.3906s ago] ('Ashtyn', 'Davis', '1/1/2000', 'California')
2021-10-25 08:58:34,914 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,914 INFO sqlalchemy.engine.Engine [cached since 0.396s ago] ('Damien', 'Lewis', '1/1/2000', 'LSU')
2021-10-25 08:58:34,918 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,918 INFO sqlalchemy.engine.Engine [cached since 0.4s ago] ('Brandon', 'Jones', '1/1/2000', 'Texas')
2021-10-25 08:58:34,923 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,924 INFO sqlalchemy.engine.Engine [cached since 0.406s ago] ('Justin', 'Madubuike', '1/1/2000', 'Texas A&M')
2021-10-25 08:58:34,928 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,929 INFO sqlalchemy.engine.Engine [cached since 0.4109s ago] ('Josh', 'Jones', '1/1/2000', 'Houston')
2021-10-25 08:58:34,934 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,934 INFO sqlalchemy.engine.Engine [cached since 0.4161s ago] ('DaVon', 'Hamilton', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:34,938 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,939 INFO sqlalchemy.engine.Engine [cached since 0.421s ago] ('Zack', 'Baun', '1/1/2000', 'Wisconsin')
2021-10-25 08:58:34,945 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,946 INFO sqlalchemy.engine.Engine [cached since 0.4274s ago] ('Jonah', 'Jackson', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:34,949 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,950 INFO sqlalchemy.engine.Engine [cached since 0.4318s ago] ("Ke'Shawn", 'Vaughn', '1/1/2000', 'Illinois')
2021-10-25 08:58:34,953 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,954 INFO sqlalchemy.engine.Engine [cached since 0.4359s ago] ('Michael', 'Ojemudia', '1/1/2000', 'Iowa')
2021-10-25 08:58:34,959 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,960 INFO sqlalchemy.engine.Engine [cached since 0.4416s ago] ('Matt', 'Hennessy', '1/1/2000', 'Temple')
2021-10-25 08:58:34,964 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,965 INFO sqlalchemy.engine.Engine [cached since 0.4466s ago] ('Jabari', 'Zuniga', '1/1/2000', 'Florida')
2021-10-25 08:58:34,969 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,970 INFO sqlalchemy.engine.Engine [cached since 0.4514s ago] ('Lynn Bowden Jr.', 'N/A', '1/1/2000', 'Kentucky')
2021-10-25 08:58:34,975 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,976 INFO sqlalchemy.engine.Engine [cached since 0.4577s ago] ('Bryan', 'Edwards', '1/1/2000', 'South Carolina')
2021-10-25 08:58:34,980 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,981 INFO sqlalchemy.engine.Engine [cached since 0.4628s ago] ('Neville', 'Gallimore', '1/1/2000', 'Oklahoma')
2021-10-25 08:58:34,985 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,986 INFO sqlalchemy.engine.Engine [cached since 0.4675s ago] ('Lloyd Cushenberry III', 'N/A', '1/1/2000', 'LSU')
2021-10-25 08:58:34,992 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,992 INFO sqlalchemy.engine.Engine [cached since 0.4742s ago] ('Terrell', 'Lewis', '1/1/2000', 'Alabama')

2021-10-25 08:58:34,997 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:34,997 INFO sqlalchemy.engine.Engine [cached since 0.4792s ago] ('Julian', 'Blackmon', '1/1/2000', 'Utah')
2021-10-25 08:58:35,001 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,002 INFO sqlalchemy.engine.Engine [cached since 0.4836s ago] ('Zack', 'Moss', '1/1/2000', 'Utah')
2021-10-25 08:58:35,007 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,007 INFO sqlalchemy.engine.Engine [cached since 0.4893s ago] ('Anfernee', 'Jennings', '1/1/2000', 'Alabama')
2021-10-25 08:58:35,011 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,012 INFO sqlalchemy.engine.Engine [cached since 0.4935s ago] ('Jordan', 'Elliott', '1/1/2000', 'Texas')
2021-10-25 08:58:35,016 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,017 INFO sqlalchemy.engine.Engine [cached since 0.4988s ago] ('Cameron', 'Dantzler', '1/1/2000', 'Mississippi St.')
2021-10-25 08:58:35,021 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,022 INFO sqlalchemy.engine.Engine [cached since 0.5034s ago] ('Jonathan', 'Greenard', '1/1/2000', 'Florida')
2021-10-25 08:58:35,027 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,027 INFO sqlalchemy.engine.Engine [cached since 0.5092s ago] ('Devin', 'Asiasi', '1/1/2000', 'UCLA')
2021-10-25 08:58:35,031 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,032 INFO sqlalchemy.engine.Engine [cached since 0.5139s ago] ('Devin', 'Duvernay', '1/1/2000', 'Texas')
2021-10-25 08:58:35,036 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,036 INFO sqlalchemy.engine.Engine [cached since 0.5182s ago] ('Darrynton', 'Evans', '1/1/2000', 'Appalachian St.')
2021-10-25 08:58:35,042 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,043 INFO sqlalchemy.engine.Engine [cached since 0.5244s ago] ('Josiah', 'Deguara', '1/1/2000', 'Cincinnati')
2021-10-25 08:58:35,047 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,048 INFO sqlalchemy.engine.Engine [cached since 0.5295s ago] ('McTelvin', 'Agim', '1/1/2000', 'Arkansas')
2021-10-25 08:58:35,254 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,255 INFO sqlalchemy.engine.Engine [cached since 0.7367s ago] ('Lucas', 'Niang', '1/1/2000', 'TCU')
2021-10-25 08:58:35,473 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,474 INFO sqlalchemy.engine.Engine [cached since 0.956s ago] ('Jacob', 'Phillips', '1/1/2000', 'LSU')
2021-10-25 08:58:35,478 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,479 INFO sqlalchemy.engine.Engine [cached since 0.961s ago] ('Malik', 'Harrison', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:35,483 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,484 INFO sqlalchemy.engine.Engine [cached since 0.9656s ago] ('Matt', 'Peart', '1/1/2000', 'Connecticut')
2021-10-25 08:58:35,489 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,490 INFO sqlalchemy.engine.Engine [cached since 0.9715s ago] ('Tanner', 'Muse', '1/1/2000', 'Clemson')
2021-10-25 08:58:35,496 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,496 INFO sqlalchemy.engine.Engine [cached since 0.9782s ago] ('Dalton', 'Keene', '1/1/2000', 'Virginia Tech')
2021-10-25 08:58:35,500 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,501 INFO sqlalchemy.engine.Engine [cached since 0.9828s ago] ('Alex', 'Highsmith', '1/1/2000', 'Charlotte')
2021-10-25 08:58:35,505 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,506 INFO sqlalchemy.engine.Engine [cached since 0.9877s ago] ('Davion', 'Taylor', '1/1/2000', 'Colorado')
2021-10-25 08:58:35,510 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,511 INFO sqlalchemy.engine.Engine [cached since 0.9927s ago] ('Terrell', 'Burgess', '1/1/2000', 'Utah')
2021-10-25 08:58:35,516 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,516 INFO sqlalchemy.engine.Engine [cached since 0.9981s ago] ('Adam', 'Trautman', '1/1/2000', 'Dayton')
2021-10-25 08:58:35,521 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,521 INFO sqlalchemy.engine.Engine [cached since 1.003s ago] ('Tyre', 'Phillips', '1/1/2000', 'Mississippi St.')
2021-10-25 08:58:35,525 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,526 INFO sqlalchemy.engine.Engine [cached since 1.008s ago] ('Akeem', 'Davis-Gaither', '1/1/2000', 'Appalachian St.')
2021-10-25 08:58:35,531 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,532 INFO sqlalchemy.engine.Engine [cached since 1.014s ago] ('Saahdiq', 'Charles', '1/1/2000', 'LSU')
2021-10-25 08:58:35,536 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,537 INFO sqlalchemy.engine.Engine [cached since 1.019s ago] ('John', 'Simpson', '1/1/2000', 'Clemson')
2021-10-25 08:58:35,542 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,542 INFO sqlalchemy.engine.Engine [cached since 1.024s ago] ('Darnay', 'Holmes', '1/1/2000', 'UCLA')
2021-10-25 08:58:35,548 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,549 INFO sqlalchemy.engine.Engine [cached since 1.03s ago] ('Solomon', 'Kindley', '1/1/2000', 'Georgia')
2021-10-25 08:58:35,554 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,555 INFO sqlalchemy.engine.Engine [cached since 1.036s ago] ('Joshua', 'Kelley', '1/1/2000', 'UCLA')

2021-10-25 08:58:35,560 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,562 INFO sqlalchemy.engine.Engine [cached since 1.043s ago] ('Troy Pride Jr.', 'N/A', '1/1/2000', 'Notre Dame')
2021-10-25 08:58:35,569 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,571 INFO sqlalchemy.engine.Engine [cached since 1.053s ago] ('Leki', 'Fotu', '1/1/2000', 'Utah')
2021-10-25 08:58:35,577 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,578 INFO sqlalchemy.engine.Engine [cached since 1.06s ago] ('Harrison', 'Bryant', '1/1/2000', 'Florida Atlantic')
2021-10-25 08:58:35,584 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,585 INFO sqlalchemy.engine.Engine [cached since 1.067s ago] ('Ben', 'Bartch', '1/1/2000', "Saint John's (MN)")
2021-10-25 08:58:35,594 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,595 INFO sqlalchemy.engine.Engine [cached since 1.077s ago] ('D.J.', 'Wonnum', '1/1/2000', 'South Carolina')
2021-10-25 08:58:35,600 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,601 INFO sqlalchemy.engine.Engine [cached since 1.083s ago] ('Albert', 'Okwuegbunam', '1/1/2000', 'Missouri')
2021-10-25 08:58:35,610 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,610 INFO sqlalchemy.engine.Engine [cached since 1.092s ago] ('Mykal', 'Walker', '1/1/2000', 'Fresno St.')
2021-10-25 08:58:35,616 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,616 INFO sqlalchemy.engine.Engine [cached since 1.098s ago] ("La'Mical", 'Perine', '1/1/2000', 'Florida')
2021-10-25 08:58:35,619 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,620 INFO sqlalchemy.engine.Engine [cached since 1.102s ago] ('Logan', 'Stenberg', '1/1/2000', 'Kentucky')
2021-10-25 08:58:35,625 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,626 INFO sqlalchemy.engine.Engine [cached since 1.108s ago] ('Jacob', 'Eason', '1/1/2000', 'Washington')
2021-10-25 08:58:35,631 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,632 INFO sqlalchemy.engine.Engine [cached since 1.113s ago] ('Reggie Robinson II', 'N/A', '1/1/2000', 'Tulsa')
2021-10-25 08:58:35,635 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,636 INFO sqlalchemy.engine.Engine [cached since 1.118s ago] ('Anthony McFarland Jr.', 'N/A', '1/1/2000', 'Maryland')
2021-10-25 08:58:35,640 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,641 INFO sqlalchemy.engine.Engine [cached since 1.123s ago] ('James', 'Morgan', '1/1/2000', 'Florida International')
2021-10-25 08:58:35,646 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,647 INFO sqlalchemy.engine.Engine [cached since 1.129s ago] ('Charlie', 'Heck', '1/1/2000', 'North Carolina')
2021-10-25 08:58:35,651 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,651 INFO sqlalchemy.engine.Engine [cached since 1.133s ago] ("K'Von", 'Wallace', '1/1/2000', 'Clemson')
2021-10-25 08:58:35,656 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,657 INFO sqlalchemy.engine.Engine [cached since 1.139s ago] ('Gabriel', 'Davis', '1/1/2000', 'Central Florida')
2021-10-25 08:58:35,662 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,662 INFO sqlalchemy.engine.Engine [cached since 1.144s ago] ('Cameron', 'Clark', '1/1/2000', 'Charlotte')
2021-10-25 08:58:35,667 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,668 INFO sqlalchemy.engine.Engine [cached since 1.15s ago] ('James', 'Lynch', '1/1/2000', 'Baylor')
2021-10-25 08:58:35,673 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,674 INFO sqlalchemy.engine.Engine [cached since 1.156s ago] ('Rashard', 'Lawrence', '1/1/2000', 'LSU')
2021-10-25 08:58:35,678 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,679 INFO sqlalchemy.engine.Engine [cached since 1.161s ago] ('Troy', 'Dye', '1/1/2000', 'Oregon')
2021-10-25 08:58:35,685 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,686 INFO sqlalchemy.engine.Engine [cached since 1.168s ago] ('Colby', 'Parkinson', '1/1/2000', 'Stanford')
2021-10-25 08:58:35,690 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,691 INFO sqlalchemy.engine.Engine [cached since 1.173s ago] ('Jaylinn', 'Hawkins', '1/1/2000', 'California')
2021-10-25 08:58:35,696 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,697 INFO sqlalchemy.engine.Engine [cached since 1.179s ago] ('Kevin', 'Dotson', '1/1/2000', 'Louisiana')
2021-10-25 08:58:35,703 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,703 INFO sqlalchemy.engine.Engine [cached since 1.185s ago] ('Brycen', 'Hopkins', '1/1/2000', 'Purdue')
2021-10-25 08:58:35,707 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,708 INFO sqlalchemy.engine.Engine [cached since 1.19s ago] ('Josiah', 'Scott', '1/1/2000', 'Michigan St.')
2021-10-25 08:58:35,712 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,713 INFO sqlalchemy.engine.Engine [cached since 1.195s ago] ("L'Jarius", 'Sneed', '1/1/2000', 'Louisiana Tech')
2021-10-25 08:58:35,719 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,720 INFO sqlalchemy.engine.Engine [cached since 1.202s ago] ('Amik', 'Robertson', '1/1/2000', 'Louisiana Tech')
2021-10-25 08:58:35,724 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)

2021-10-25 08:58:35,725 INFO sqlalchemy.engine.Engine [cached since 1.207s ago] ('Shaquille', 'Quarterman', '1/1/2000', 'Miami (FL)')
2021-10-25 08:58:35,730 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,731 INFO sqlalchemy.engine.Engine [cached since 1.213s ago] ('John', 'Reid', '1/1/2000', 'Penn St.')
2021-10-25 08:58:35,737 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,738 INFO sqlalchemy.engine.Engine [cached since 1.22s ago] ('Antonio', 'Gandy-Golden', '1/1/2000', 'Liberty')
2021-10-25 08:58:35,742 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,743 INFO sqlalchemy.engine.Engine [cached since 1.225s ago] ('Ben', 'Bredeson', '1/1/2000', 'Michigan')
2021-10-25 08:58:35,748 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,749 INFO sqlalchemy.engine.Engine [cached since 1.231s ago] ('DeeJay', 'Dallas', '1/1/2000', 'Miami (FL)')
2021-10-25 08:58:35,755 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,756 INFO sqlalchemy.engine.Engine [cached since 1.238s ago] ('Jack', 'Driscoll', '1/1/2000', 'Auburn')
2021-10-25 08:58:35,761 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,762 INFO sqlalchemy.engine.Engine [cached since 1.243s ago] ('Tyler', 'Biadasz', '1/1/2000', 'Wisconsin')
2021-10-25 08:58:35,767 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,768 INFO sqlalchemy.engine.Engine [cached since 1.25s ago] ('Khalid', 'Kareem', '1/1/2000', 'Notre Dame')
2021-10-25 08:58:35,773 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,774 INFO sqlalchemy.engine.Engine [cached since 1.256s ago] ('Alton', 'Robinson', '1/1/2000', 'Syracuse')
2021-10-25 08:58:35,778 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,779 INFO sqlalchemy.engine.Engine [cached since 1.261s ago] ('Danny', 'Pinter', '1/1/2000', 'Ball St.')
2021-10-25 08:58:35,786 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,786 INFO sqlalchemy.engine.Engine [cached since 1.268s ago] ('Shane', 'Lemieux', '1/1/2000', 'Oregon')
2021-10-25 08:58:35,791 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,791 INFO sqlalchemy.engine.Engine [cached since 1.273s ago] ('Joe', 'Reed', '1/1/2000', 'Virginia')
2021-10-25 08:58:35,796 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,796 INFO sqlalchemy.engine.Engine [cached since 1.278s ago] ('Kenny Robinson Jr.', 'N/A', '1/1/2000', 'West Virginia')
2021-10-25 08:58:35,802 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,802 INFO sqlalchemy.engine.Engine [cached since 1.284s ago] ('Colton', 'McKivitz', '1/1/2000', 'West Virginia')
2021-10-25 08:58:35,807 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,807 INFO sqlalchemy.engine.Engine [cached since 1.289s ago] ('Jason', 'Strowbridge', '1/1/2000', 'North Carolina')
2021-10-25 08:58:35,812 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,813 INFO sqlalchemy.engine.Engine [cached since 1.295s ago] ('Trevis', 'Gipson', '1/1/2000', 'Tulsa')
2021-10-25 08:58:35,819 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,820 INFO sqlalchemy.engine.Engine [cached since 1.301s ago] ('Keith', 'Ismael', '1/1/2000', 'San Diego St.')
2021-10-25 08:58:35,824 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,824 INFO sqlalchemy.engine.Engine [cached since 1.306s ago] ('Daniel', 'Thomas', '1/1/2000', 'Auburn')
2021-10-25 08:58:35,829 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,829 INFO sqlalchemy.engine.Engine [cached since 1.311s ago] ('Bryce', 'Hall', '1/1/2000', 'Virginia')
2021-10-25 08:58:35,835 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,836 INFO sqlalchemy.engine.Engine [cached since 1.318s ago] ('Justin', 'Rohrwasser', '1/1/2000', 'Marshall')
2021-10-25 08:58:35,842 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,843 INFO sqlalchemy.engine.Engine [cached since 1.324s ago] ('Nick', 'Harris', '1/1/2000', 'Washington')
2021-10-25 08:58:35,849 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,850 INFO sqlalchemy.engine.Engine [cached since 1.331s ago] ('Tyler', 'Johnson', '1/1/2000', 'Minnesota')
2021-10-25 08:58:35,855 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,856 INFO sqlalchemy.engine.Engine [cached since 1.338s ago] ('Khaleke', 'Hudson', '1/1/2000', 'Michigan')
2021-10-25 08:58:35,863 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,864 INFO sqlalchemy.engine.Engine [cached since 1.345s ago] ('Kindle', 'Vildor', '1/1/2000', 'Georgia Southern')
2021-10-25 08:58:35,868 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,868 INFO sqlalchemy.engine.Engine [cached since 1.35s ago] ('Curtis', 'Weaver', '1/1/2000', 'Boise St.')
2021-10-25 08:58:35,874 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,875 INFO sqlalchemy.engine.Engine [cached since 1.356s ago] ('Collin', 'Johnson', '1/1/2000', 'Texas')
2021-10-25 08:58:35,881 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,881 INFO sqlalchemy.engine.Engine [cached since 1.363s ago] ('Quintez', 'Cephus', '1/1/2000', 'Wisconsin')
2021-10-25 08:58:35,886 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,887 INFO sqlalchemy.engine.Engine [cached since 1.368s ago] ('Jake', 'Fromm', '1/1/2000', 'Georgia')
2021-10-25 08:58:35,891 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)

2021-10-25 08:58:35,893 INFO sqlalchemy.engine.Engine [cached since 1.374s ago] ('John', 'Hightower', '1/1/2000', 'Boise St.')
2021-10-25 08:58:35,898 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,899 INFO sqlalchemy.engine.Engine [cached since 1.381s ago] ('Harrison', 'Hand', '1/1/2000', 'Temple')
2021-10-25 08:58:35,904 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,904 INFO sqlalchemy.engine.Engine [cached since 1.386s ago] ('Broderick Washington Jr.', 'N/A', '1/1/2000', 'Texas Tech')
2021-10-25 08:58:35,910 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,911 INFO sqlalchemy.engine.Engine [cached since 1.393s ago] ('Isaiah', 'Coulter', '1/1/2000', 'Rhode Island')
2021-10-25 08:58:35,916 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,917 INFO sqlalchemy.engine.Engine [cached since 1.398s ago] ('Jason', 'Huntley', '1/1/2000', 'New Mexico St.')
2021-10-25 08:58:35,920 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,921 INFO sqlalchemy.engine.Engine [cached since 1.403s ago] ('Darnell', 'Mooney', '1/1/2000', 'Tulane')
2021-10-25 08:58:35,927 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,928 INFO sqlalchemy.engine.Engine [cached since 1.41s ago] ('Larrell', 'Murchison', '1/1/2000', 'North Carolina St.')
2021-10-25 08:58:35,932 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,933 INFO sqlalchemy.engine.Engine [cached since 1.414s ago] ('Kamal', 'Martin', '1/1/2000', 'Minnesota')
2021-10-25 08:58:35,937 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,937 INFO sqlalchemy.engine.Engine [cached since 1.419s ago] ('K.J.', 'Osborn', '1/1/2000', 'Miami (FL)')
2021-10-25 08:58:35,943 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,944 INFO sqlalchemy.engine.Engine [cached since 1.426s ago] ('Michael', 'Danna', '1/1/2000', 'Michigan')
2021-10-25 08:58:35,948 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,949 INFO sqlalchemy.engine.Engine [cached since 1.43s ago] ('Justin', 'Strnad', '1/1/2000', 'Wake Forest')
2021-10-25 08:58:35,953 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,953 INFO sqlalchemy.engine.Engine [cached since 1.435s ago] ('Bradlee', 'Anae', '1/1/2000', 'Utah')
2021-10-25 08:58:35,958 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,959 INFO sqlalchemy.engine.Engine [cached since 1.441s ago] ('Hakeem', 'Adeniji', '1/1/2000', 'Kansas')
2021-10-25 08:58:35,963 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,964 INFO sqlalchemy.engine.Engine [cached since 1.446s ago] ('Netane', 'Muti', '1/1/2000', 'Fresno St.')
2021-10-25 08:58:35,968 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,969 INFO sqlalchemy.engine.Engine [cached since 1.451s ago] ('Michael', 'Onwenu', '1/1/2000', 'Michigan')
2021-10-25 08:58:35,975 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,976 INFO sqlalchemy.engine.Engine [cached since 1.457s ago] ('Cam', 'Brown', '1/1/2000', 'Penn St.')
2021-10-25 08:58:35,980 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,980 INFO sqlalchemy.engine.Engine [cached since 1.462s ago] ('Bravvion', 'Roy', '1/1/2000', 'Baylor')
2021-10-25 08:58:35,984 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,985 INFO sqlalchemy.engine.Engine [cached since 1.466s ago] ('Blake', 'Ferguson', '1/1/2000', 'LSU')
2021-10-25 08:58:35,989 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,990 INFO sqlalchemy.engine.Engine [cached since 1.472s ago] ('Alohi', 'Gilman', '1/1/2000', 'Notre Dame')
2021-10-25 08:58:35,995 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:35,995 INFO sqlalchemy.engine.Engine [cached since 1.477s ago] ('Donovan', 'Peoples-Jones', '1/1/2000', 'Michigan')
2021-10-25 08:58:35,999 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,000 INFO sqlalchemy.engine.Engine [cached since 1.481s ago] ('Tyler', 'Bass', '1/1/2000', 'Georgia Southern')
2021-10-25 08:58:36,003 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,004 INFO sqlalchemy.engine.Engine [cached since 1.486s ago] ('Jake', 'Luton', '1/1/2000', 'Oregon St.')
2021-10-25 08:58:36,009 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,010 INFO sqlalchemy.engine.Engine [cached since 1.492s ago] ('Charlie', 'Woerner', '1/1/2000', 'Georgia')
2021-10-25 08:58:36,014 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,015 INFO sqlalchemy.engine.Engine [cached since 1.497s ago] ('Braden', 'Mann', '1/1/2000', 'Texas A&M')
2021-10-25 08:58:36,019 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,019 INFO sqlalchemy.engine.Engine [cached since 1.501s ago] ('Jon', 'Runyan', '1/1/2000', 'Michigan')
2021-10-25 08:58:36,024 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,025 INFO sqlalchemy.engine.Engine [cached since 1.507s ago] ('Robert', 'Windsor', '1/1/2000', 'Penn St.')
2021-10-25 08:58:36,031 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,031 INFO sqlalchemy.engine.Engine [cached since 1.513s ago] ('Khalil', 'Davis', '1/1/2000', 'Nebraska')
2021-10-25 08:58:36,228 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,229 INFO sqlalchemy.engine.Engine [cached since 1.711s ago] ('Justin', 'Herron', '1/1/2000', 'Wake Forest')
2021-10-25 08:58:36,233 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)

2021-10-25 08:58:36,233 INFO sqlalchemy.engine.Engine [cached since 1.715s ago] ('Shaun', 'Bradley', '1/1/2000', 'Temple')
2021-10-25 08:58:36,237 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,238 INFO sqlalchemy.engine.Engine [cached since 1.72s ago] ('John', 'Penisini', '1/1/2000', 'Utah')
2021-10-25 08:58:36,243 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,244 INFO sqlalchemy.engine.Engine [cached since 1.726s ago] ('Antoine Brooks Jr.', 'N/A', '1/1/2000', 'Maryland')
2021-10-25 08:58:36,250 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,250 INFO sqlalchemy.engine.Engine [cached since 1.732s ago] ('Jordan', 'Fuller', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:36,254 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,254 INFO sqlalchemy.engine.Engine [cached since 1.736s ago] ('Quez', 'Watkins', '1/1/2000', 'Southern Miss')
2021-10-25 08:58:36,258 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,259 INFO sqlalchemy.engine.Engine [cached since 1.741s ago] ('James', 'Proche', '1/1/2000', 'SMU')
2021-10-25 08:58:36,264 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,265 INFO sqlalchemy.engine.Engine [cached since 1.747s ago] ('Evan', 'Weaver', '1/1/2000', 'California')
2021-10-25 08:58:36,270 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,271 INFO sqlalchemy.engine.Engine [cached since 1.753s ago] ('Blake', 'Brandel', '1/1/2000', 'Oregon St.')
2021-10-25 08:58:36,275 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,276 INFO sqlalchemy.engine.Engine [cached since 1.758s ago] ('Cassh', 'Maluia', '1/1/2000', 'Wyoming')
2021-10-25 08:58:36,282 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,282 INFO sqlalchemy.engine.Engine [cached since 1.764s ago] ('Josh', 'Metellus', '1/1/2000', 'Michigan')
2021-10-25 08:58:36,291 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,292 INFO sqlalchemy.engine.Engine [cached since 1.774s ago] ('Tyler', 'Davis', '1/1/2000', 'Georgia Tech')
2021-10-25 08:58:36,298 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,299 INFO sqlalchemy.engine.Engine [cached since 1.781s ago] ('Isaiah', 'Hodgins', '1/1/2000', 'Oregon St.')
2021-10-25 08:58:36,303 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,304 INFO sqlalchemy.engine.Engine [cached since 1.786s ago] ('Jake', 'Hanson', '1/1/2000', 'Oregon')
2021-10-25 08:58:36,309 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,310 INFO sqlalchemy.engine.Engine [cached since 1.792s ago] ('Simon', 'Stepaniak', '1/1/2000', 'Indiana')
2021-10-25 08:58:36,315 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,316 INFO sqlalchemy.engine.Engine [cached since 1.798s ago] ('Prince Tega Wanogho', 'N/A', '1/1/2000', 'Auburn')
2021-10-25 08:58:36,320 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,321 INFO sqlalchemy.engine.Engine [cached since 1.803s ago] ('Isaiah', 'Rodgers', '1/1/2000', 'Massachusetts')
2021-10-25 08:58:36,326 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,326 INFO sqlalchemy.engine.Engine [cached since 1.808s ago] ('Dezmon', 'Patmon', '1/1/2000', 'Washington St.')
2021-10-25 08:58:36,333 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,334 INFO sqlalchemy.engine.Engine [cached since 1.815s ago] ('Jordan', 'Glasgow', '1/1/2000', 'Michigan')
2021-10-25 08:58:36,338 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,339 INFO sqlalchemy.engine.Engine [cached since 1.82s ago] ('Freddie', 'Swain', '1/1/2000', 'Florida')
2021-10-25 08:58:36,344 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,345 INFO sqlalchemy.engine.Engine [cached since 1.827s ago] ('Markus', 'Bailey', '1/1/2000', 'Purdue')
2021-10-25 08:58:36,350 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,350 INFO sqlalchemy.engine.Engine [cached since 1.833s ago] ('Kamren', 'Curl', '1/1/2000', 'Arkansas')
2021-10-25 08:58:36,355 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,356 INFO sqlalchemy.engine.Engine [cached since 1.838s ago] ('Jauan', 'Jennings', '1/1/2000', 'Tennessee')
2021-10-25 08:58:36,360 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,361 INFO sqlalchemy.engine.Engine [cached since 1.842s ago] ('Carter', 'Coughlin', '1/1/2000', 'Minnesota')
2021-10-25 08:58:36,365 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,366 INFO sqlalchemy.engine.Engine [cached since 1.848s ago] ('Geno', 'Stone', '1/1/2000', 'Iowa')
2021-10-25 08:58:36,370 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,370 INFO sqlalchemy.engine.Engine [cached since 1.852s ago] ('K.J.', 'Hill', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:36,375 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,375 INFO sqlalchemy.engine.Engine [cached since 1.857s ago] ('Stantley', 'Thomas-Oliver', '1/1/2000', 'Florida International')
2021-10-25 08:58:36,380 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,381 INFO sqlalchemy.engine.Engine [cached since 1.863s ago] ('Eno', 'Benjamin', '1/1/2000', 'Arizona St.')
2021-10-25 08:58:36,385 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,386 INFO sqlalchemy.engine.Engine [cached since 1.867s ago] ('Chris', 'Claybrooks', '1/1/2000', 'Memphis')
2021-10-25 08:58:36,390 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)

2021-10-25 08:58:36,390 INFO sqlalchemy.engine.Engine [cached since 1.872s ago] ('Cole', 'McDonald', '1/1/2000', 'Hawaii')
2021-10-25 08:58:36,396 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,396 INFO sqlalchemy.engine.Engine [cached since 1.878s ago] ('Kenny', 'Willekes', '1/1/2000', 'Michigan St.')
2021-10-25 08:58:36,400 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,401 INFO sqlalchemy.engine.Engine [cached since 1.882s ago] ('Arlington', 'Hambright', '1/1/2000', 'Colorado')
2021-10-25 08:58:36,405 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,406 INFO sqlalchemy.engine.Engine [cached since 1.887s ago] ('Lachavious', 'Simmons', '1/1/2000', 'Tennessee St.')
2021-10-25 08:58:36,410 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,410 INFO sqlalchemy.engine.Engine [cached since 1.892s ago] ('Sterling', 'Hofrichter', '1/1/2000', 'Syracuse')
2021-10-25 08:58:36,416 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,416 INFO sqlalchemy.engine.Engine [cached since 1.898s ago] ('James', 'Smith-Williams', '1/1/2000', 'North Carolina St.')
2021-10-25 08:58:36,421 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,421 INFO sqlalchemy.engine.Engine [cached since 1.903s ago] ('Dustin', 'Woodard', '1/1/2000', 'Memphis')
2021-10-25 08:58:36,427 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,427 INFO sqlalchemy.engine.Engine [cached since 1.909s ago] ('Ben', 'DiNucci', '1/1/2000', 'James Madison')
2021-10-25 08:58:36,431 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,432 INFO sqlalchemy.engine.Engine [cached since 1.914s ago] ('Carlos', 'Davis', '1/1/2000', 'Nebraska')
2021-10-25 08:58:36,435 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,436 INFO sqlalchemy.engine.Engine [cached since 1.918s ago] ('Casey', 'Toohill', '1/1/2000', 'Stanford')
2021-10-25 08:58:36,440 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,441 INFO sqlalchemy.engine.Engine [cached since 1.923s ago] ('Clay', 'Johnston', '1/1/2000', 'Baylor')
2021-10-25 08:58:36,446 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,447 INFO sqlalchemy.engine.Engine [cached since 1.929s ago] ('Jashon', 'Cornell', '1/1/2000', 'Ohio St.')
2021-10-25 08:58:36,451 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,451 INFO sqlalchemy.engine.Engine [cached since 1.933s ago] ('Vernon', 'Scott', '1/1/2000', 'TCU')
2021-10-25 08:58:36,455 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,456 INFO sqlalchemy.engine.Engine [cached since 1.938s ago] ('Thakarius', 'Keyes', '1/1/2000', 'Tulane')
2021-10-25 08:58:36,461 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,462 INFO sqlalchemy.engine.Engine [cached since 1.943s ago] ('T.J.', 'Brunson', '1/1/2000', 'South Carolina')
2021-10-25 08:58:36,465 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,466 INFO sqlalchemy.engine.Engine [cached since 1.948s ago] ('Dane', 'Jackson', '1/1/2000', 'Pittsburgh')
2021-10-25 08:58:36,470 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,470 INFO sqlalchemy.engine.Engine [cached since 1.952s ago] ('Tommy', 'Stevens', '1/1/2000', 'Mississippi St.')
2021-10-25 08:58:36,475 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,476 INFO sqlalchemy.engine.Engine [cached since 1.957s ago] ('Chapelle', 'Russell', '1/1/2000', 'Temple')
2021-10-25 08:58:36,481 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,481 INFO sqlalchemy.engine.Engine [cached since 1.963s ago] ('Jonathan', 'Garvin', '1/1/2000', 'Miami (FL)')
2021-10-25 08:58:36,485 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,486 INFO sqlalchemy.engine.Engine [cached since 1.968s ago] ('Chris', 'Jackson', '1/1/2000', 'Marshall')
2021-10-25 08:58:36,490 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,491 INFO sqlalchemy.engine.Engine [cached since 1.972s ago] ('Nate', 'Stanley', '1/1/2000', 'Iowa')
2021-10-25 08:58:36,496 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,496 INFO sqlalchemy.engine.Engine [cached since 1.978s ago] ('Raymond', 'Calais', '1/1/2000', 'Louisiana')
2021-10-25 08:58:36,500 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,501 INFO sqlalchemy.engine.Engine [cached since 1.983s ago] ('Malcolm', 'Perry', '1/1/2000', 'Navy')
2021-10-25 08:58:36,505 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,505 INFO sqlalchemy.engine.Engine [cached since 1.987s ago] ('Chris', 'Williamson', '1/1/2000', 'Minnesota')
2021-10-25 08:58:36,510 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,510 INFO sqlalchemy.engine.Engine [cached since 1.992s ago] ('Sam', 'Sloman', '1/1/2000', 'Miami (OH)')
2021-10-25 08:58:36,515 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,516 INFO sqlalchemy.engine.Engine [cached since 1.998s ago] ('Brian Cole II', 'N/A', '1/1/2000', 'Mississippi St.')
2021-10-25 08:58:36,520 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,522 INFO sqlalchemy.engine.Engine [cached since 2.003s ago] ('Tremayne', 'Anchrum', '1/1/2000', 'Clemson')
2021-10-25 08:58:36,526 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,527 INFO sqlalchemy.engine.Engine [cached since 2.009s ago] ('Stephen', 'Sullivan', '1/1/2000', 'LSU')
2021-10-25 08:58:36,532 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)

2021-10-25 08:58:36,533 INFO sqlalchemy.engine.Engine [cached since 2.015s ago] ('Tyrie', 'Cleveland', '1/1/2000', 'Florida')
2021-10-25 08:58:36,537 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,538 INFO sqlalchemy.engine.Engine [cached since 2.019s ago] ('Kyle', 'Hinton', '1/1/2000', 'Washburn')
2021-10-25 08:58:36,542 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,543 INFO sqlalchemy.engine.Engine [cached since 2.025s ago] ('Derrek', 'Tuszka', '1/1/2000', 'North Dakota St.')
2021-10-25 08:58:36,548 INFO sqlalchemy.engine.Engine INSERT INTO league.person (first_name, last_name, date_of_birth, alma_mater) OUTPUT inserted.id VALUES (?, ?, ?, ?)
2021-10-25 08:58:36,549 INFO sqlalchemy.engine.Engine [cached since 2.031s ago] ('Tae', 'Crowder', '1/1/2000', 'Georgia')
2021-10-25 08:58:36,557 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
persons = session.query(Person).all()
# person_id_dict = {(person.first_name, person.last_name) : person.id for person in persons}
# print(person_id_dict)
def add_person(person:Person, session:Session) -> int:
#     proc_name = 'league.add_person'
    person_id = 0
    result = session.execute(f'league.add_person ?, ?, ?, ?, ? OUTPUT', (person.first_name, person.last_name, person.date_of_birth, person.alma_mater, person_id))
    print(result)
    print(person_id)
    
add_person(persons[1], session)
    
    
# # players = [Player(person_id = person.id, active = True) for person in persons]
# # session.add_all(players)


session.rollback()

2021-10-25 09:04:09,767 INFO sqlalchemy.engine.Engine SELECT league.person.id AS league_person_id, league.person.first_name AS league_person_first_name, league.person.last_name AS league_person_last_name, league.person.date_of_birth AS league_person_date_of_birth, league.person.alma_mater AS league_person_alma_mater
FROM league.person
2021-10-25 09:04:09,769 INFO sqlalchemy.engine.Engine [cached since 333.2s ago] ()

TypeError: '<' not supported between instances of 'datetime.date' and 'str'

In [ ]:
print(session)